@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$primary: crimson;
$theme-colors: (
        'primary': $primary,
        'spell': slategray,
        'spell-action': tomato,
        'spell-bonus': green,
        'spell-classes': slategray,
        'dmgtype-piercing': gainsboro,
        'dmgtype-bludgeoning': lightgray,
        'dmgtype-slashing': silver,
        'dmgtype-cold': aqua,
        'dmgtype-fire': orangered,
        'dmgtype-lightning': dodgerblue,
        'dmgtype-thunder': mediumorchid,
        'dmgtype-poison': limegreen,
        'dmgtype-acid': chartreuse,
        'dmgtype-necrotic': darkgreen,
        'dmgtype-radiant': gold,
        'dmgtype-force': crimson,
        'dmgtype-psychic': orchid,
        'tertiary': darkgray,
        'navbar': $primary
);

.form-control.character-name {
  line-height: 3;
}
@import '../node_modules/bootstrap/scss/bootstrap';