@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$primary: crimson;
$secondary: slategray;
$theme-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'spell': $primary,
        'spell-action': tomato,
        'spell-bonus': green,
        'spell-classes': slategray,
        'spell-slot': $green-300,
        'spell-slot-level': crimson,
        'dmgtype-piercing': gainsboro,
        'dmgtype-bludgeoning': lightgray,
        'dmgtype-slashing': silver,
        'dmgtype-cold': aqua,
        'dmgtype-fire': orangered,
        'dmgtype-lightning': dodgerblue,
        'dmgtype-thunder': mediumorchid,
        'dmgtype-poison': limegreen,
        'dmgtype-acid': chartreuse,
        'dmgtype-necrotic': darkgreen,
        'dmgtype-radiant': gold,
        'dmgtype-force': crimson,
        'dmgtype-psychic': orchid,
        'tertiary': darkgray,
        'navbar': $primary
);


.form-control.character-name {
  line-height: 3;
}
@import '../node_modules/bootstrap/scss/bootstrap';


.spell-slot {
  @extend .rounded-3;
  background-color: map-get($theme-colors, 'spell-slot');
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: pointer;
  &.spent {
    background-color: $red-300;
  }
}

.spell-slot-level {
  @extend .d-inline-flex;
  .level-header {
    @extend .d-flex, .rounded-start-2, .border, .border-spell;
    color: white;
    background: map-get($theme-colors, 'spell-slot-level');
    vertical-align: center;
    height: 35px;
  }
  .level-slots {
    @extend .d-flex, .rounded-end-2, .border, .border-spell, .border-start-0;
    height: 35px;
  }
}